<div style="background-color: #f8f8ee; border: 1px dashed #CCCCCC; padding: 10px;" class="clearfix">
  <div class="pull-left ">
    <img src="http://pic1.win4000.com/wallpaper/5/532931489604e.jpg" style="width: 100%;height: 350px;">
  </div>
  <div class="pull-left " style="margin-left: 15px;">
    <p>作者：Avenstave</p>
    <p>出处：
      <a href="">Welcome To Avenstave Blog.....</a>
    </p>
    <p>技术：
      <a href="https://github.com/Avenstave/z1">https://github.com/Avenstave/z1</a>
    </p>
    <p>关于作者：喜欢阅读、专注于前端开发</p>
  </div>
</div>